body {
    background: rgb(51, 0, 111);
    color:white;
    width:270px;
    height:150px;
    margin:auto;
    padding:3%;

}
html {
    width:270px;
    height:70px;
}

#header {
    position: fixed;
    top: 1px;
    left: 15px;
    font-weight: bold;
    color: #fff;
    font-size: 8px;
}

#content {
    border-radius: 0px 0px 10px 10px;
    padding: 20px;
}

/*input {*/
/*    width: 100%;*/
/*    padding: 10px 0;*/
/*    font-size: 16px;*/
/*    color: #fff;*/
/*    margin-bottom: 30px;*/
/*    border: none;*/
/*    border-bottom: 1px solid #fff;*/
/*    outline: none;*/
/*    background: transparent;*/
/*}*/
#add_button {
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0.5em 0.5em 0.5em 0.5em;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:600;
    color:white;
    text-align:center;
    transition: all 0.2s;
    background-color: rgb(145, 123, 76);
}
#add_button:hover{
    color:#000000;
    background-color:#FFFFFF;
}